version: 2
jobs:
  build:
    docker:
      - image: 218546966473.dkr.ecr.us-east-1.amazonaws.com/circle-ci:stitch-tap-tester-uv
    steps:
      - checkout
      - run:
          name: 'Setup virtual env'
          command: |
            uv venv --python 3.9 /usr/local/share/virtualenvs/tap-looker
            source /usr/local/share/virtualenvs/tap-looker/bin/activate
            uv pip install -U 'pip<19.2' setuptools
            uv pip install .[dev]
      - run:
          name: 'pylint'
          command: |
            source /usr/local/share/virtualenvs/tap-looker/bin/activate
            pylint tap_looker -d "$PYLINT_DISABLE_LIST,too-many-positional-arguments,consider-using-max-builtin,possibly-used-before-assignment,inconsistent-return-statements,unnecessary-lambda-assignment,unspecified-encoding,use-yield-from"
workflows:
  version: 2
  commit:
    jobs:
      - build:
          context: circleci-user
