version: 2
jobs:
  build:
    docker:
      - image: 218546966473.dkr.ecr.us-east-1.amazonaws.com/circle-ci:stitch-tap-tester-uv
    steps:
      - checkout
      - run:
          name: 'Setup virtual env'
          command: |
            uv venv --python 3.9 /usr/local/share/virtualenvs/tap-looker
            source /usr/local/share/virtualenvs/tap-looker/bin/activate
            uv pip install -U setuptools
            uv pip install .[dev]
      - run:
          name: 'pylint'
          command: |
            source /usr/local/share/virtualenvs/tap-looker/bin/activate
            pylint tap_looker -d 'C,R,W,possibly-used-before-assignment'
workflows:
  version: 2
  commit:
    jobs:
      - build:
          context: circleci-user
